<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
    <body>
        <%- include("./partials/headerAdmin") %>
            <div class="h2adminUsers">
                <h2>Administrador de Usuarios</h2>
            </div>

                <table class="tableAdminUsers">
                    <thead class="theadAdminUsers">
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Id</th>           
                        <th scope="col">Nombre </th>
                        <th scope="col">Apellido </th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Fecha de Nacimiento </th>
                        <th scope="col">Pais de Origen </th>
                        <th scope="col">Género</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Editar</th>           
                    </thead>
                    <tbody class="tbodyAdminUsers">           
                    <%users.forEach(function(users){ %>
                        <tr class="tradminUsers">
                         <th scope="row"> <input type="checkbox"> </th>
                        <td><%=users.id%></td>
                        <td><%=users.nombre%></td>
                        <td><%=users.apellido%></td>
                        <td><%=users.categoria.categoria%></td>
                        <td><%=users.fechaNac%></td>
                        <td><%=users.pais%></td>
                        <td><%=users.genero%></td>
                        <td><%=users.email%></td>
                        <td><img src="/img/avatars/<%=users.avatar%>" width="30px" height="30px"></td>
                        <td><a href="/adminUser/profile/<%=users.id%>"><i class="fas fa-info-circle"></a></td>
                        <td><a href="/adminUser/<%=users.id%>/edit"><i class="far fa-edit"></i></a></td>
                
                        </tr>
                     <% }) %>               
                    </tbody>                
                </table>  
                
                <article class="h2adminUsers">
                   <p><button class="buttonUsers" type="button"><a href="/user-add-form/create"><ion-icon name="add-circle-outline"></ion-icon>Agregar Usuario</a></button></p>
                  </article>

           

               <div class="form-login-foto">
        <img width=100% src="/img/olasAltas.png" alt="olas">
    </div>

<%- include("./partials/footer") %>
    </body>

</html>