<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
    <body>
        <%- include("./partials/headerAdmin") %>
            <div class="h2adminUsers">
                <h2>Administrador de Usuarios</h2>
            </div>
            
            <div class="tm-product-table-container">
                <table class="tablaAdminUsers">
                    <thead>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Id</th>           
                        <th scope="col">Nombre </th>
                        <th scope="col">Apellido </th>
                        <th scope="col">Fecha de Nacimiento </th>
                        <th scope="col">Pais de Origen </th>
                        <th scope="col">Género</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Editar</th>           
                    </thead>
                    <tbody>           
                    <%users.forEach(function(user){ %>
                        <tr>
                         <th scope="row"> <input type="checkbox"> </th>
                        <td><%=user.id%></td>
                        <td><%=user.nombre%></td>
                        <td><%=user.apellido%></td>
                        <td><%=user.categoria.categoria%></td>
                        <td><%=user.fechaNac%></td>
                        <td><%=user.pais%></td>
                        <td><%=user.genero%></td>
                        <td><%=user.email%></td>
                        <td><img src="/img/avatars/<%=user.avatar%>"></td>
                        <td><a href="/profile/<%=user.id%>"><i class="fas fa-info-circle"></a></td>
                        <td><a href="/adminUser/<%=user.id%>/edit"><i class="far fa-edit"></i></a></td>
                
                        </tr>
                     <% }) %>               
                    </tbody>                
                </table>  
                
                <article class="h2adminUsers">
                   <p><button class="buttonUsers" type="button"><a href="/user-add-form/create"><ion-icon name="add-circle-outline"></ion-icon>Agregar Usuario</a></button></p>
                  </article>

               </div>
              <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
            <%- include("./partials/footer") %>
    </body>

</html>