<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
    <body>
        <%- include("./partials/headerAdmin") %>
        <div class="h2admin">
            <h2>Administrador de Productos</h2>
        </div>
                    <table class="tableAdmin">
                        <thead class="theadAdmin">
                            
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Unidades en stock</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Ver</th>
                            <th scope="col">Editar</th>
                        
                        </thead>
                        <tbody class="tbodyAdmin">
                            <% products.forEach(function(products){ %>
                        <form  class="tm-edit-product-form" action="" method="POST" >
                            <tr class="trAdmin">
                            
                            <td><%=products.id%></td>
                            <td><%=products.nombre%></td>
                            <td><%=products.marca.marca%></td>
                            <td>$<%=products.precio%></td>
                            <td><%=products.unidades%></td>
                            <td><%=products.descripcion%></td>
                        </form> 
                            <td><a href="/product/<%=products.id%>"><i class="fas fa-info-circle"></a></td>
                            <td><a href="/admin/<%=products.id%>/edit"><i class="far fa-edit"></a></td>
                            </tr> 
                         <% }) %>       
         
                        </tbody>
                    </table>
                    <article class="h2admin1">
                        <p><button class="buttonAdmin" type="button"><a href="/product-add-form/create"><ion-icon name="add-circle-outline"></ion-icon>Agregar Productos</a></button></p>
                      </article>
                
              <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
            <%- include("./partials/footer") %>
    </body>

</html>