<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
    <body>
        <%- include("./partials/headerAdmin") %>
          
                  <div class="h2adminB">
                    <h2>Administrador de Productos Eliminados</h2>
                </div>
                <div class="cajaContBorrados"></div>
                            <table class="tableAdminB">
                                <thead class="theadAdminB">
                                    
                                    <th scope="col">Id</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Unidades en stock</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Restaurar</th>
                                    
                                
                                </thead>
                                <tbody class="tbodyAdminB">
                                    <% products.forEach(function(products){ %>
                                <form  class="tm-edit-product-form" action="" method="POST" >
                                    <tr class="trAdminB">
                                    
                                    <td><%=products.id%></td>
                                    <td><img class="imgAdminB"src="/img/<%=products.foto%>"></td>
                                    <td><%=products.nombre%></td>
                                    <td><%=products.marca.marca%></td>
                                    <td>$<%=products.precio%></td>
                                    <td><%=products.unidades%></td>
                                    <td class="descripcionB"><%=products.descripcion%></td>
                                    
                                </form> 
                                   
                                    <td><a href="/admin/<%=products.id%>/restore"><i class="fas fa-undo"></a></td>
                                    </tr> 
                                 <% }) %>       
                 
                                </tbody>
                            </table>
                        </div>
                        <div class="h2adminB">
                            <h2>Administrador de Usuarios Eliminados</h2>
                        </div>
            
                            <table class="tableAdminUsers">
                                <thead class="theadAdminUsers">
                                    <th scope="col">Id</th>           
                                    <th scope="col">Nombre </th>
                                    <th scope="col">Apellido </th>
                                    <th scope="col">Categoría</th>
                                    <th scope="col">Fecha de Nacimiento </th>
                                    <th scope="col">Pais de Origen </th>
                                    <th scope="col">Género</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Avatar</th>
                                    <th scope="col">Perfil</th>
                                    <th scope="col">Restaurar</th>           
                                </thead>
                                <tbody class="tbodyAdminUsers">           
                                <%users.forEach(function(users){ %>
                                    <tr class="tradminUsers">
                                    <td><%=users.id%></td>
                                    <td><%=users.nombre%></td>
                                    <td><%=users.apellido%></td>
                                    <td><%=users.categoria.categoria %></td>
                                    <td><%=users.fechaNac%></td>
                                    <td><%=users.pais%></td>
                                    <td><%=users.genero%></td>
                                    <td><%=users.email%></td>
                                    <td><img src="/img/avatars/<%=users.avatar%>" width="30px" height="30px"></td>
                                    <td><a href="/adminUser/profile/<%=users.id%>"><i class="fas fa-info-circle"></a></td>
                                    <td><a href="/admin/<%=products.id%>/restore"><i class="fas fa-undo"></a></td>
                            
                                    </tr>
                                 <% }) %>               
                                </tbody>                
                            </table>  
                            

           

               <div class="form-login-foto">
        <img width=100% src="/img/olasAltas.png" alt="olas">
    </div>

<%- include("./partials/footer") %>
    </body>

</html>