<!DOCTYPE html>
<%- include("./partials/head") %>

    <body class="bodyAdminAdd">
        <%- include("./partials/headerAdmin") %>
            <div id="card">
                <div class="add-titulo">
                    <h2>Editar Producto</h2>
                </div>
                <div class="add-bloque">
                    <div class="add-formulario">
                        <form class="tm-edit-product-form" action="/admin/<%= product.id %>/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="id"><p>Id</p></label><br/>
                                <input id="id" name="id" type="text" class="campos_add" value="<%= product.id%> " readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="nombre"><p>Nombre</p></label><br/>
                                <input id="nombre" name="nombre" type="text" class="campos_add" value="<%= product.nombre%>" required>
                            </div>
                    
                        </div><br>
                        
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="precio"><p>Precio</p></label><br/>
                                    <input id="precio" name="precio" type="text" class="campos_add" value="<%= product.precio%>">
                                </div><br>

                                <div class="form-group mb-3">
                                    <label for="marca"><p>Elegir una nueva marca:</p></label><br/>
                                    <select id="marca" class="campos_cat" name="marca" required>
                                    <%marcas.forEach(marca =>{ %>
                                        <% if (marca.marca == product.marca.marca){ %>
                                        <option value="<%=marca.id%>"selected><%=marca.marca%></option>  
                                        <%}
                                        else { %>
                                    <option value="<%=marca.id%>"><%=marca.marca%></option>  
                                        <%}%>
                                    <%})%>
                                    </select>
                                </div>
                                
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="color"><p>Colores actuales de la tabla:</p></label><br/>
                                    <% product.colours.forEach(colourDelProduct=> { %> 
                                        <p> <%=colourDelProduct.color%></p>
                                    <%})%>
                                </div><br>

                                <div class="form-group mb-3">
                                    <label for="colores"><p>Elegir los nuevos colores:</p></label><br/>
                                    <%colours.forEach(colour =>{ %>
                                    <input type="checkbox" id="colores" class="campos_cat" name="colores" value="<%=colour.id%>"> <%=colour.color%>
                                    <%})%>
                                
                                </div>

        
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="descripcion"><p>Descripción</p></label><br/>
                                    <textarea class="form-control validate" rows="3" id="descripcion" name="descripcion" type="text" required> <%= product.descripcion%></textarea>
                                </div>

                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="unidades"><p>Unidades en stock:</p></label><br/>
                                    <input id="unidades" name="unidades" type="number" class="campos_add" value="<%= product.unidades%>" required>
                                </div> <br>


                                <button type="submit" class="button_add">Confirmar Cambios</button>
                                
                        </form>
                        <form action="/admin/destroy/<%=product.id %>/?_method=DELETE" method="POST">
                            <button type="submit" class="button_add">Borrar Producto</button>
                        </form>
                        </div>
                    </div>
                </div>

                
                

            </div>
            <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>
            <%- include("./partials/footer") %>
    </body>

    </html>