<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

    <body class="bodysole">
        <%- include("./partials/header") %>
            <div class="micarritoSole">
                 <h1>Mi Carrito: </h1>
                 </div>
           
            <section class="contenedorSole">
                <div class="tabla1Sole">
                    <table class="tableCart">
                        <thead class="theadCart">
                        <th scope="col">Cant.</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Subtotal</th>
                        </thead>
                        <tbody class="tbodyCart">
                        <%items.forEach(item=>{ %>
                        <form  class="tm-edit-product-form" action="" method="POST" >
                        <tr class="trCart">
                        <td><%=item.cantidad%></td>
                        <td><img src="/img/<%=item.producto.foto%>"></td>
                        <td class="nombreCart"><%=item.producto.nombre%><br><p>Cód: <%=item.id%></p></td>
                        <td><%=item.producto.marca_id%></td>
                        <td><p>$<%=item.producto.precio%></p></td>
                        <td><%=item.subtotal%></td>
                        </form>
                        <td> <form action="/productCart/delete/<%=item.id %>/?_method=DELETE" method="POST" >
                            <button type="submit" class="button_add">Borrar</button>
                        </form>  
                        </td>
                        </tr> 
                     <% }) %>       
                         </tbody>
                    </table>
                </div>
                  
            </section>
       
            <section class="contenedorSole3">
                    <div class="micarritoSole">
                        <h1>Mi Compra: </h1>
                        <br>
                    </div>
                <div class="contenedorSole3">
                    <div class="totalapagarsole">
                        <h1>TOTAL A PAGAR </h1>
                    </div>
                    <div class="inputsole">
                      <p> $<%= totalPrice %> </p>
                    </div>
                </div>
                  <div><a href="/product"> <button class="button_add"> Seguir Comprando</button> </a></div>
                  
                <form action="productCart/order/add" method="POST">
                <button  type="submit" class="button_add">Confirmar Compra</button>
                <div class="todmedpagosole">Todos los medios de pago<i class="fas fa-credit-card"></i><i class="far fa-money-bill-alt"></i></div>
              
                </form>

                <div>
                    <p class="aSurfear">
                        ...y te vas a surfear...<img src="\img\tablaVector50x62 (1) (1).png">
                    </p>
                </div>
            </section>
            
            <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
            <%- include("./partials/footer") %>
    </body>

</html>