<!DOCTYPE html>
<html>
<%- include("./partials/head") %>


    <body>

        <%- include("./partials/header") %>
            <div class="contenedorgz">
                <section class="productogz">
                    <article class="imgproductogz">
                        <div class="imggrandegz">
                            <img src="/img/<%=product.foto%>">
                            </div>
                        <div class="imgcambiogz">
                            <img src="/img/<%=product.foto%>">
                            <img src="/img/<%=product.foto%>">
                            <img src="/img/<%=product.foto%>">
                            <img src="/img/<%=product.foto%>">
                            <img src="/img/<%=product.foto%>">
                        </div>
                    </article>

                    <article class="desproductosgz">
                        <h4>Tabla muy importante</h4>
                        <h1><%=product.nombre %></h1>
                        
                        <div class="coloresgz">
                            <p>Colores</p>
                            <div class="color1gz">
                            </div>
                            <div class="color2gz">
                            </div>
                            <div class="color3gz">
                            </div>
                        </div>
                        
                 


                        <div class="preciosgz">
                            <p><%= product.precio %></p>
                        </div>
                        <div>
                            <form action="/productCart/add/<%= product.id %>" method="POST" id="formulario">
                            <div class="contadorGrandegz" >   
                                <p>Cantidad</p>
                                <input class="contadorgz" type="number" name="cantidad" id="cantidad" value="1">
                                <p>Color</p>
                                <button class="botongz" type="submit">AGREGAR AL CARRITO</button>
                            </div>
                              </form>
                        </div>
                

                        <aside class="descripciongz">
                            <p>Tabla</p><br>
                            
                            <li><%= product.descripcion %></li>

                            
                        </aside>
                    </article>
                </section>
                <section>
                    <aside class="descripcion2gz">
                        <p>Tabla:</p><br>
                       

                        <li><%= product.descripcion %></li>
                    </aside>
                </section>
                
                <div class="divisiongz">
                    <p>Productos Relacionados</p>
                </div>
                <section class="productosRelacionadosgz">
                    <article class="tabla3gz">
                        <div class="imgTabla3gz">
                            <a href="/product/<%=product.id%> "><img src="/img/<%=product.foto2%>"></a>
                        </div>
                        <div class="destablagz">
                            <div class="titProdRelgz">
                                <h1><%=product.nombre%></h1>
                                </a>
                            </div>
                            <div class="coloresRelgz">
                                <div class="color1Rgz">
                                </div>
                                <div class="color2Rgz">
                                </div>
                                <div class="color3Rgz">
                                </div>
                            </div>
                            <div class="preciosRgz">
                                <p><%=product.precio%></p>
                            </div>
                            <div class="botAgrCargz">
                                <a href="/productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                            </div>

                        </div>
                    </article>
                    <article class="tabla3gz">
                        <div class="imgTabla3gz">
                            <a href="/product/<%=product.id%>"><img src="/img/<%=product.foto3%>"></a>
                        </div>
                        <div class="destablagz">
                            <div class="titProdRelgz">
                                <h1><%=product.nombre %></h1>
                            </div>
                            <div class="coloresRelgz">
                                <div class="color1Rgz">
                                </div>
                                <div class="color2Rgz">
                                </div>
                                <div class="color3Rgz">
                                </div>
                            </div>
                            <div class="preciosRgz">
                                <p><%=product.precio %></p>
                            </div>
                            <div class="botAgrCargz">
                                <a href="/productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                            </div>

                        </div>
                    </article>
                    <article class="tabla4gz">
                        <div class="imgTabla4gz">
                            <a href="/product/<%=product.id%>"><img src="/img/<%=product.foto4%>"></a>
                        </div>
                        <div class="destablagz">
                            <div class="titProdRelgz">
                                <h1><%=product.nombre%></h1>
                            </div>
                            <div class="coloresRelgz">
                                <div class="color1Rgz">
                                </div>
                                <div class="color2Rgz">
                                </div>
                                <div class="color3Rgz">
                                </div>
                            </div>
                            <div class="preciosRgz">
                                <p><%=product.precio %></p>
                            </div>
                            <div class="botAgrCargz">
                                <a href="/productCart"><input class="botongz" type="submit" value="Agregar Al Carrito"></a>
                            </div>

                        </div>

                    </article>
                </section>
            </div>

            <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>

            <%- include("./partials/footer") %>
    </body>

</html>