<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>
            <section>
                <div class="barra-bus"> <input type="text"><button><i class="fas fa-search"></i></button></div>
            </section>
            <% tablas.forEach(function(tabla){ %>

                <article class="tabla2gz">

                    <a class="imgTabla2gz" href="/product/<%=tabla.id%>"><img src="/img/<%=tabla.foto%>"></a>

                    <div class="destablagz">
                        <div class="titProdRelgz">
                            <h1>
                                <%= tabla.name %>
                            </h1>
                            </a>
                        </div>
                        <div class="coloresRelgz">
                            <div class="color1Rgz">
                            </div>
                            <div class="color2Rgz">
                            </div>
                            <div class="color3Rgz">
                            </div>
                        </div>
                        <div class="preciosRgz">
                            <p>
                                <%=tabla.precio %>
                            </p>
                        </div>
                        <div class="botAgrCargz">
                            <a href="productCart"><input class="botongz1" type="submit" value="Agregar Al Carrito"></a>
                        </div>

                    </div>
                </article>

                <% }) %>

                    <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" height="100%"></div>
                    <%- include("./partials/footer") %>
    </body>

</html>