<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>   
<div  class="miPerfil">
    <h1>MI PERFIL</h1>
</div>
<div class="container1" style="margin-top: 40px;">
    <div class="perfil">
            <div class="tituloprofile">
            <h2>Bienvenido, <%=user.nombre%>...vamos a surfear?<img src="\img\tablaVector50x62 (1) (1).png" ></h2>
            </div>
            <div class="fotoPerfil">
            <img src="/img/avatars/<%=user.avatar%>">
            <h4 class="fotoPerfilh4"><%=user.nombre%> <%=user.apellido%></h4><br>
            </div>
            <br>
            <br>
    </div>         
     <div class="misDatos">
            <h2 > Mis Datos</h2><br><br>
           
            <h4 >Email: <%=user.email%> </h4> <br>
            <h4 > Fecha de Nacimiento: <%=user.fechaNac%> </h4><br>
            <h4 >Género:<%=user.genero%> </h4><br>
            <h4 >Pais de Origen:<%=user.pais%> </h4><br><br>
            
            <a href="/client/logout">
                <button class="botonLogout1">Cerrar Sesión </button></a>
            
     </div>       
            
        
    
</div>



    
<div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>   
<%- include("./partials/footer") %>
</body>
</html>