<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>   
<div  class="miPerfil">
    <h1>MI PERFIL</h1>
</div>
<div class="tituloprofile">
    <h2>Bienvenido, <%=user.nombre%>...vamos a surfear? <img src="\img\tablaVector50x62 (1) (1).png" ></h2>
    </div>
<div class="container1">
    <div class="perfil">
            <div class="fotoPerfil">
            <img src="/img/avatars/<%=user.avatar%>">
            </div>
            <div class="nombreperfil">
            <h4><%=user.nombre%> <%=user.apellido%></h4><br>
            </div>
            <br>
            <br>
    </div>         
     <div class="misDatos">
            <h4 >Categoria:</h4> <p><%=user.categoria_id %> </p> <br>
            <h4 >Email: </h4> <p><%=user.email%></p> <br>
            <h4 > Fecha de Nacimiento: </h4><p> <%=user.fechaNac%></p> <br>
            <h4 >Género: </h4><p><%=user.genero%></p> <br>
            <h4 >Pais de Origen: </h4><p><%=user.pais%></p><br><br>
            
            <a href="/client/logout">
                <button class="botonLogout1">Cerrar Sesión </button></a>
            
     </div>       
</div>



    
<div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>   
<%- include("./partials/footer") %>
</body>
</html>
