<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

<%- include("./partials/header") %>
    

    <section class="form-reg-titulo">
        <h1 class="form-reg-h1"> Vos registrate.<br> 
        Nosotros te conseguimos la tabla.</h1>
    </section>
    <form class="form-reg-formulario" action="/client/register" method="POST" enctype="multipart/form-data">
       
        
        <div class="form-reg-name">
            <div class="form-reg-p">
                <label class="form-reg-label" for=nombre><p>Nombre</p></label>
                <input class="form-reg-input" type="text" name="nombre" value="<%=locals.oldData ? oldData.nombre:null%>"  id="nombre" placeholder=Nombre>
                <% if (locals.errors && errors.nombre) { %>
                   <span class="error"> <%= errors.nombre.msg %> </span>
                  
                <% } %>
                </div>
            
            <div class="form-reg-p">
                <label class="form-reg-label" for=apellido><p>Apellido</p></label>
                <input class="form-reg-input" type="text" name="apellido" value="<%=locals.oldData ? oldData.apellido:null%>"  id="apellido" placeholder=Apellido>
                <% if (locals.errors && errors.apellido) { %>
                    <span class="error">  <%= errors.apellido.msg %> </span>
                 <% } %>
                </div>
            </div>

        <div class="form-reg-info"> 
            <div class="form-reg-p">
                <label class="form-reg-label" for=genero><p>Genero</p></label>
                <input class="form-reg-input" type="text" name="genero" value="<%=locals.oldData ? oldData.genero:null%>"  id="genero" placeholder=Genero>
                <% if (locals.errors && errors.genero) { %>
                    <span class="error">  <%= errors.genero.msg %> </span>
                 <% } %>
                </div>
        
            <div class="form-reg-p">
                <label class="form-reg-label" for=fechaNac><p>Fecha de nacimiento</p></label>
                <input class="form-reg-input" type="date" name="fechaNac" id="nacimiento" value=1990-06-30 min="1910-01-01">
            </div>
        </div>
        

        <div class="form-reg-cont">
            <div class="form-reg-p">
                <label class="form-reg-label" for=email ><p>E-mail</p></label>
                <input class="form-reg-input" type="email" name="email" value="<%=locals.oldData ? oldData.email:null%>"  id="email" placeholder=mail@dominio.com>
                <% if (locals.errors && errors.email) { %>
                    <span class="error">  <%= errors.email.msg %> </span>
                <% } %>
                </div>
        </div>
            <div class="form-reg-pais">
                    <label class="form-reg-label"><p>Pais de origen:</p></label>
                    <select 
                        name="pais" 
                        class="form-select <%= locals.errors && errors.pais ? 'is-invalid' : null %>">
                        <option value="">Elegí un país</option> <br>
                        <%  let pais = ['Argentina', 'Chile', 'Brasil', 'Uruguay']; %>
                        <% for (const unPais of pais) { %>
                        <option value="<%= unPais %>"
                            <%= locals.oldData && (unPais === oldData.pais) ? 'selected' : null %> 
                            > <%= unPais %> 
                        </option>
                        <% } %>
                </div>
                        <% if (locals.errors && errors.pais) { %>
                            <span class="error">    <%= errors.pais.msg %></span>
                        <% } %> 
                
    
      
            <div class="subeTuFoto">
                <label class="form-login-label-comment-tablas" for="avatar"><p>Sube tu foto de perfil</p></label>
                <input class="form-login-input" type="file"  name="avatar" id="avatar">
            </div>
        

        <div class="form-reg-password">
            <div class="form-reg-p2">
                <label class="form-reg-label" for="password"><p>Contraseña</p></label>
                <input class="form-reg-input" type="password" name="password" id="password">
                <% if (locals.errors && errors.password) { %>
                    <span class="error">   <%= errors.password.msg %>  </span>           
                <% } %>
            </div>
        </div>
        <% if(typeof errores != "undefined"){ %>
            <ul>
                <% errores.forEach(function(error){ %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
            </ul>
            <% } %>

        <section class="form-reg-boton">
            <div class="form-reg-botonP">
                <button type="submit" ><p>Enviar</p></button>
                
            </div>

        </section>
   </form>
  
<div class="contenedortablamb">
    <br>
            <h2> Listo! Entrá a elegir la tabla. Y a surfear. </h2>
        <div class="form-reg-separacion-mobile">
            <img width=100% src="/img/tablaPerfil.png" alt="Tabla de Surf Colores">
        </div>

        <div class="form-reg-separacion-tablet">
            <img width=100% src="/img/tablaAbajo.png" alt="Tabla de Surf Colores">
        </div>

        <div class="form-reg-separacion-escritorio">
            <img width=100% src="/img/tablaFrente.png" alt="Tabla de Surf Colores">
        </div>
    </div>

   
   
   <div class="form-reg-logo">
    <img width=20% src="/img/logo.png" alt="logo">
</div>
    <section class="form-reg-foto">
        <img width=100% src="/img/olasBajas.png" alt="olas">
    </section>

<%- include("./partials/footer") %>

</body>
</html>