<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

<%- include("./partials/header") %>
    
    <div class="form-reg-logo">
        <img width=20% src="/img/logo.png" alt="logo">
    </div>
    


    <form class="form-reg-formulario" action="/" method="POST" enctype="multipart/form-data">
        <section class="form-reg-titulo">
            <h1 class="form-reg-h1"> Vos registrate. 
            Nosotros te conseguimos la tabla.</h1>
        </section>
        
        <section class="form-reg-name"> 
            <p class="form-reg-p">
                <label class="form-reg-label" for=nombre>Nombre.</label>
                <input class="form-reg-input" type="text" name="nombre" value="<%=locals.oldData ? oldData.nombre:null%>"  id="nombre" placeholder=Nombre>
                <% if (locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                        <%= errors.nombre.msg %> 
                    </div>
                <% } %>
            </p>
            
            <p class="form-reg-p">
                <label class="form-reg-label" for=apellido>Apellido.</label>
                <input class="form-reg-input" type="text" name="apellido" value="<%=locals.oldData ? oldData.apellido:null%>"  id="apellido" placeholder=Apellido>
                <% if (locals.errors && errors.apellido) { %>
                    <div class="text-danger">
                        <%= errors.apellido.msg %> 
                    </div>
                <% } %>
            </p>
        </section>


        <section class="form-reg-nacimiento">
            <p class="form-reg-p">
                <label class="form-reg-label" for=nacimiento> Fecha de nacimiento.</label>
                <input class="form-reg-input" type="date" name="nacimiento" id="nacimiento" value=1990-06-30 min="1910-01-01"required>
            </p>
        </section>
        

        <section class="form-reg-mail">
            <p class="form-reg-p">
                <label class="form-reg-label" for=email >e-mail.</label>
                <input class="form-reg-input" type="email" name="email" value="<%=locals.oldData ? oldData.email:null%>"  id="email" placeholder=mail@dominio.com>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </p>
        </section>


        <section class="form-reg-tel">
            <p class="form-reg-p">
                <div class="form-group">
                    <label><b>Código:</b></label>
                    <select 
                        name="pais" 
                        class="form-select <%= locals.errors && errors.pais ? 'is-invalid' : null %>">
                        <option value="">Elegí un país</option>
                        <%  
                            let pais = ['+54', '+53', '+52', '+598'];
                        %>
                        <% for (const unPais of pais) { %>
                            <option 
                                value="<%= unPais %>"
                                <%= locals.oldData && (unPais === oldData.pais) ? 'selected' : null %> 
                            > <%= unPais %> </option>
                        <% } %>
                    </select>
                    <% if (locals.errors && errors.pais) { %>
                        <div class="text-danger">
                            <%= errors.pais.msg %>
                        </div>
                    <% } %>
                </div>
            </p>

            <p class="form-reg-p">
                <label class="form-reg-label" for=telefono >Teléfono.</label>
                <input class="form-reg-input" type="tel" name="telefono" value="<%=locals.oldData ? oldData.telefono:null%>"  id="telefono" placeholder="1122223333">
                <% if (locals.errors && errors.telefono) { %>
                    <div class="text-danger">
                        <%= errors.telefono.msg %> 
                    </div>
                <% } %>
            </p>    

        </section>

        <section class="form-reg-password">
            <p class="form-reg-p">
                <label class="form-reg-label" for="contraseña">Contraseña.</label>
                <input class="form-reg-input" type="password" name="password" id="contraseña">
            </p>
        </section>

        <section class="form-reg-boton">
            <p class="form-reg-botonP">
                <button type="submit" > Enviar  </button>
                <img src="/img/tablaPerfil.png" alt="perfil">
            </p>

        </section>

        <section class="form-reg-verificacion">
            <h3 class="form-reg-h3"> Verificación </h3>
        
            <p class="form-reg-p"> ¿Dónde querés que te enviemos el código de verificación?</p>

            <ul type=none>
                <li><input class="form-reg-input" type="radio" value="mail" name="form-medio-de-verificacion" id="form-medio-de-verificacion" required>
                    <label class="form-reg-label" for="form-medio-de-verificacion">e-mail</label> </li>                  
                <li><input class="form-reg-input" type="radio" value="SMS" name="form-medio-de-verificacion" id="form-medio-de-verificacion" required>
                    <label class="form-reg-label" for="form-medio-de-verificacion">SMS</label> </li>
            </ul>
        </section>

        <section class="form-reg-codigo">
                <p class="form-reg-p">
                    <label class="form-reg-label" for=form-codigo>Ingresa aquí el código de 4 números.</label>
                    <input class="form-reg-input" type="text" name="form-codigo" id="form-codigo" placeholder="1234" required>
                </p>
        </section>

        <section class="form-reg-boton">
            <p class="form-reg-botonP">
                <button type="submit" > Enviar código </button>
                <img src="/img/tablaPerfil.png" alt="perfil">
            </p>
        </section>


        <section class="form-reg-listo">
            <h2 class="form-reg-h2"> Listo! Entrá a elegir la tabla. Y a surfear. </h2>
        </section>


        <div class="form-reg-separacion-mobile">
            <img width=90% src="/img/tablaPerfil.png" alt="Tabla de Surf Colores">
        </div>

        <div class="form-reg-separacion-tablet">
            <img width=90% src="/img/tablaAbajo.png" alt="Tabla de Surf Colores">
        </div>

        <div class="form-reg-separacion-escritorio">
            <img width=90% src="/img/tablaFrente.png" alt="Tabla de Surf Colores">
        </div>

        <section class="form-reg-notificaciones">
            <h3 class="form-reg-h3"> ¿Querés? </h3>
    
            <p class="form-reg-p"> ¿Querés que te enviemos un mail cuando...</p>
            <ul type=none> 
                <li> <input class="form-reg-input" type="checkbox" value="novedad" name="notificaciones" id="novedad" checked>
                     <label class="form-reg-label" for="novedad"> ...sacamos una nueva tabla al mercado? </label>
                </li>
                <li> <input class="form-reg-input" type="checkbox" value="ofertas" name="notificaciones" id="ofertas" checked>
                     <label class="form-reg-label" for="form-medio-de-verificacion"> ...tenemos una nueva promoción? </label>                
                </li>
            </ul>
        </section>

        <section class="form-reg-boton">
            <p class="form-reg-botonP">
                <button type="submit" > Enviar preferencias </button>
                <img src="/img/tablaPerfil.png" alt="perfil">
            </p>

        </section>
    

    </form>

    <section class="form-reg-foto">
        <img width=100% src="/img/olasBajas.png" alt="olas">
    </section>

<%- include("./partials/footer") %>

</body>
</html>