<!DOCTYPE html>
<%- include("./partials/head") %>

    <body class= "bodyAdminAdd">   
        <%- include("./partials/headerAdmin") %>    
        <div id="card">
            <div class="add-titulo">
                <h2 class="add-titulo-2">Agregar Usuario</h2>
                 </div>
                    <div class="add-bloque">
                        <div class="add-formulario">
                            <form  class="tm-edit-product-form" action="/adminUser/create" method="POST" >
                    
                                <div class="form-group mb-3">
                                    <label for="nombre">Nombre </label><br/>
                                    <input id="nombre"  name ="nombre" type="text"class="campos_add" required >
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="apellido">Apellido</label><br/>
                                    <input id="apellido"  name ="apellido" type="text"class="campos_add" required >
                                </div><br>                                
                                <div class="form-group mb-3">
                                    <p>Categoría:</p>
                                    <%categorias.forEach(categoria =>{ %>
                                        <p><input type="checkbox" name="categories" class="campos_add" value="<%= categoria.id %>"><%= categoria.categoria %></p>
                                    <% }) %>
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="fechaNac">Fecha de Nacimiento</label><br/>
                                    <input id="fechaNac"  name ="fechaNac" type="date"class="campos_add" required >
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="genero">Genero</label><br/>
                                    <input id="genero"  name ="genero" type="text"class="campos_add" required >
                                </div><br>
                                 <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="pais">Pais de Origen</label><br/>                          
                                    <input id="pais" name="pais" type="text" class="campos_add" >
                                </div><br>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="email" >E-Mail</label><br/>
                                    <input id="email"name="email" type="email"class="campos_add" required />
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="contraseña">Contraseña</label><br/>
                                    <input id="contraseña"  name ="contraseña" type="text"class="campos_add" required >
                                </div><br>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="avatar"> Agregar Imagen de Perfil </label><br>
                                    <input id="avatar" type="file" name="avatar" value="avatar" class="campos_add">
                                </div>

                                
                                    <button type="submit" class="button_add">Agregar Usuario</button>
                                    
                            </form>
                        </div>
                    </div>
               </div> 
          
        </div>     
        <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>       
        <%- include("./partials/footer") %>               
  </body>      

</html>