<!DOCTYPE html>
<%- include("./partials/head") %>

    <body class= "bodyAdminAdd">   
        <%- include("./partials/headerAdmin") %>   
        <script src="/js/js-front.js"> </script>   
 
        <div id="card">
            <div class="add-titulo">
                <h2>Agregar Usuario</h2>
                 </div>
                    <div class="add-bloque">
                        <div class="add-formulario">
                            <form  class="tm-edit-product-form" action="/adminUser/create" method="POST" enctype="multipart/form-data">
                                
                                

                                <div class="form-group mb-3">
                                    <label for="nombre"><p>Nombre</p></label><br/>
                                    <input id="nombre"  name ="nombre" type="text"class="campos_add" value="<%=locals.oldData ? oldData.nombre:null%>" >
                                </div><br>
                                
                                <div class="form-group mb-3">
                                    <label for="apellido"><p>Apellido</p></label><br/>
                                    <input id="apellido"  name ="apellido" type="text"class="campos_add" value="<%=locals.oldData ? oldData.apellido:null%>" >
                                </div><br>                                
                                
                                
                                <div class="form-group mb-3">
                                    <p>Categoría:</p>
                                    <p><%categorias.forEach(categoria =>{ %></p>
                                        <div><input type="radio" name="categoria" class="campos_add" value="<%= categoria.id %>"><%=categoria.categoria %></div>
                                    <% }) %>
                                </div><br>


                                <div class="form-group mb-3">
                                    <label for="fechaNac"><p>Fecha de Nacimiento</p></label><br/>
                                    <input id="fechaNac"  name ="fechaNac" type="date"class="campos_add" value="<%=locals.oldData ? oldData.fechaNac:null%>" >
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="genero"><p>Genero</p></label><br/>
                                    <input id="genero"  name ="genero" type="text"class="campos_add" value="<%=locals.oldData ? oldData.genero:null%>">
                                </div><br>
                                 <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="pais"><p>Pais de Origen</p></label><br/>                          
                                    <input id="pais" name="pais" type="text" class="campos_add" value="<%=locals.oldData ? oldData.pais:null%>">
                                </div><br>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="email" ><p>E-Mail</p></label><br/>
                                    <input id="email"name="email" type="email"class="campos_add"  value="<%=locals.oldData ? oldData.email:null%>">
                                </div><br>
                                <div class="form-group mb-3">
                                    <label for="password"><p>Contraseña</p></label><br/>
                                    <input id="password"  name ="password" type="password"class="campos_add"  >
                                </div><br>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="avatar"><p>Agregar Imagen de Perfil</p></label><br>
                                    <input id="avatar" type="file" name="avatar"  class="campos_add" value="<%=locals.oldData ? oldData.avatar:null%>">
                                </div>
                                <% if(typeof errores != "undefined"){ %>
                                    <ul>
                                        <% errores.forEach(function(error){ %>
                                        <li>
                                            <%= error.msg %>
                                        </li>
                                        <% }) %>
                                    </ul>
                                    <% } %>

                                    <div class="errores">
                                        <ul> </ul>
                                    </div>
                                
                                    <button type="submit" class="button_add">Agregar Usuario</button>
                                    
                            </form>
                        </div>
                    </div>
               </div> 
          
        </div>     
        <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>       
        <%- include("./partials/footer") %>    
        
        <script src="/js/js-front-user-add.js"> </script>

  </body>      

</html>