<!DOCTYPE html>
<%- include("./partials/head") %>

    <body class= "bodyAdminAdd">   
        <%- include("./partials/headerAdmin") %>  
        <script src="/js/js-front.js"> </script>   
  
        <div id="card">
            <div class="add-titulo">
                <h2>Editar Usuario</h2>
                 </div>
                    <div class="add-bloque">
                        <div class="add-formulario">

                            <% if(typeof errores != "undefined"){ %>
                                <ul>
                                    <% errores.forEach(function(error){ %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }) %>
                                </ul>
                                <% } %>

                                <div class="errores">
                                    <ul> </ul>
                                </div>

                               
                             

                            <form  class="tm-edit-product-form" action="/adminUser/<%=user.id %>/edit/?_method=PUT" method="POST" enctype="multipart/form-data" >
                                <img src="/img/avatars/<%=user.avatar%>" width="100px" height="100px">

                                <br> <br>

                                <div class="form-group mb-3">
                                    <label for="id"><p>Id</p></label><br/>
                                    <input id="id" name="id" type="number" class="campos_add" value="<%= user.id%>"  readonly>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="nombre"><p>Nombre</p></label><br/>
                                    <input id="nombre"  name ="nombre" type="text"class="campos_add" value="<%= user.nombre%>" >
                                </div>
                                <div class="form-group mb-3">
                                    <label for="apellido"><p>Apellido</p></label><br/>
                                    <input id="apellido"  name ="apellido" type="text"class="campos_add" value="<%= user.apellido%>" >
                                </div>
                                
                                <div class="form-group mb-3">
                                    <div class="form-group mb-3">
                                        <label for="categoria">Elegir una nueva categoria</label><br/>
                                        


                                        <select id="categoria" class="campos_add2" name="categoria" >
                                            <%categorias.forEach(categoria =>{
                                           
                                                if(categoria.categoria== user.categoria.categoria) { 
                                                   %>
                                           <option value="<%=user.categoria.id%>" selected> <%=user.categoria.categoria%> </option> 
                                            <% }
                                            else { %> 
                                               <option value="<%=categoria.id%>"> <%=categoria.categoria%> </option> 
                                           <% }
                                           })%>
                                        </select>
                                        
                                    </div>
                                    
                                </div>
                                

                                <div class="form-group mb-3">
                                    <label for="fechaNac"><p>Fecha De Nacimiento</p></label><br/>
                                    <input id="fechaNac"  name ="fechaNac" type="text"class="campos_add" value="<%= user.fechaNac%>" >
                                </div>
                                 <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="genero"><p>Género</p></label><br/>                          
                                    <input id="genero" name="genero" type="text" class="campos_add" value="<%= user.genero%>" >
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="email" ><p>E-Mail</p></label><br/>
                                    <input id="email"name="email" type="email"class="campos_add" value="<%= user.email%>"  >
                                </div>
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="avatar"><p>Editar Imagen de Perfil</p></label><br>
                                    <input id="avatar" type="file" name="avatar"  class="campos_add">
                                </div>

                                
                                    <button type="submit" class="button_add">Confirmar Cambios</button>
                            </form>
                        </div>
                    </div>
               </div> 
               <form action="/adminUser/destroy/<%=user.id %>/?_method=DELETE" method="POST">
                <button type="submit" class="button_add">Borrar Usuario</button>
            </form>

        </div>     
        <div class="olasSole"><img src="/img/olasSole1000x50.png" width="100%" heigth="100%"></div>       
        <%- include("./partials/footer") %>    
        
        <script src="/js/js-front-user-edit.js"> </script>
  </body>      

</html>